{{ define "main" }}
{{ range .Paginator.Pages }}
<section>
    <h2 style="margin-bottom:.5rem;"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
    <small><i class="fa-duotone fa-calendar"></i>{{- partial "date.html" . -}}</small>
    <p>{{ .Summary }}</p>
    <p class="meta-tag">{{- partial "tags.html" . -}}
</section>
{{ end }}
<nav>
    {{ with .Paginator.Prev }}
    <a href="{{ .URL }}"> ← </a>
    {{ end }}
    {{ with .Paginator.Next }}
    <a href="{{ .URL }}"> → </a>
    {{ end }}
</nav>
{{ end }}