<footer>

  <a href="https://social.lol/@mph"><i class="social fa-brands fa-mastodon"></i></a> 
  <a href="https://its.puddingtime.org"><i class="social fa-brands fa-microblog"></i></a>
  <a href="https://pix.puddingtime.org"><i class="social fa-duotone fa-camera-retro"></i></a>
  <a href="https://mph.weblog.lol"><i class="social fa-duotone fa-circle-heart"></i></a>
  <a href=""><i class="social fa-brands fa-linkedin"></i></a>
  <a href="https://github.com/pdxmph"><i class="social fa-brands fa-github"></i></a>
  <a href="https://twitter.com/pdxmph"><i class="backwards social fa-brands fa-twitter"></i></a><br />
&copy; <a href="https://mph.omg.lol">mph</a> & hosted by <a href="https://micro.blog">microblog</a>

</footer>
