<header>
    <nav>
        {{ range .Site.Menus.main }}
        <a href="{{ .URL | relURL }}">{{ .Pre }} {{ .Name }}</a>
        {{ end }}
    </nav>
    
    {{ if .IsHome }}
      <h1><i class="header-icon fa-solid fa-face-thinking"></i> {{ .Title }}</h1>
    {{ else }}
      <h1>{{ .Title }}</h1>
    {{ end }}

    {{ with .Params.author }}<i>{{ . }}</i>{{ end }}
    
    {{ if ne .Params.show_meta false }}
       {{- partial "date.html" . -}}  &nbsp; {{- partial "tags.html" . -}} 
    {{ end }}
</header>